version: 2.0

#
# Common components
#

common_steps: &common_steps
  working_directory: ~/repo
  steps:
    - checkout
    - restore_cache:
        key: v1-deps-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}-{{ checksum "requirements.txt" }}
    - run:
        name: Install Dependencies
        command: pip install --user tox coveralls
    - run:
        name: Run Tests
        command: ~/.local/bin/tox
    - run:
        name: Code Coverage
        command: ~/.local/bin/coveralls
    - save_cache:
        paths:
          - .tox
          - ~/.cache/pip
          - ~/.local
          - ./eggs
        key: v1-deps-{{ checksum "setup.py" }}-{{ checksum "tox.ini" }}-{{ checksum "requirements.txt" }}

common_env: &common_env
  TEST_DATABASE_BASE_URL: postgresql://root@127.0.0.1
  TEST_DATABASE_CI: circle_test

common_postgres: &common_postgres
  image: circleci/postgres:10-alpine
  environment:
    POSTGRES_DB: test
    POSTGRES_USER: root
    POSTGRES_PASSWORD: ""

#
# Jobs
#

jobs:
  py36:
    <<: *common_steps
    docker:
      - image: circleci/python:3.6.6
        environment:
          TOXENV: py36
          <<: *common_env
      - <<: *common_postgres
  py37:
    <<: *common_steps
    docker:
      - image: circleci/python:3.7.0
        environment:
          TOXENV: py37
          <<: *common_env
      - <<: *common_postgres

#
# Workflows
#

workflows:
  version: 2
  build_and_test:
    jobs:
      - py36
      - py37
